# Object files
obj/*

# Executables
bin/*

# Precompile files
*.gch
*.pch

# Dynamic libraries
*.so

# Compiled static libraries
*.a
*.lib

# Autoconf stuff
autom4te.cache
Makefile
config.h
config.log
config.status
autoscan.log
